@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

:root {
    --cor1: #ffffff;
    --cor2: #bdbfc1;
    --cor3: #3da0ad;
    --cor4: #035474;
    --cor5: #001219;
    --cor6: #089ddd;
    --cor7: #022870;
    --fonte-padrao: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: var(--fonte-padrao);
    color: white;
    background-image: linear-gradient(to bottom, var(--cor7), var(--cor6));
}

header {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.logo {
    width: 70px;
}

.navegador .lista-do-navegador {
    display: flex;
    text-align: center;
    gap: 10px;
}

.navegador .lista-do-navegador .item {
    color: var(--cor1);
    text-decoration: none;
    transition-duration: 0.3s;
    padding: 10px;
}

.navegador .lista-do-navegador .item:hover {
    text-decoration: none;
    background-color: var(--cor6);
    border-radius: 5px;
}

.saudacao {
    margin: 20px;
    padding: 30px;
    font-size: 70px;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.39);
}

.sobre {
    margin: auto;
    padding: 30px;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
}

.imagem-linguagem {}

.minha-foto {
    margin: 30px;
    border-radius: 50%;
    width: 300px;
}

.texto {
    font-size: 20px;
    padding-left: 100px;
}


.projetos {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.projetos .lista-de-projetos {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
}

.projetos .lista-de-projetos .trabalhos {
    margin: 20px;
}
.projetos .lista-de-projetos .trabalhos img {
    width: 450px;
    border: 1px solid black;
    box-sizing: border-box;
}

/*.projetos .lista-de-projetos .trabalhos img:hover{
    border: 2px solid white;
}*/

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logos-contatos {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
}

.logos-contatos .icone img {
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

.logos-contatos .icone img:hover {
    transform: translate(0px, -4px);
    transition: transform .3s;
    border: 2px solid white;
}

.roda-pe {
    padding: 10px;
    font-size: 20px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #0f0101;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor2);
    border-radius: 35px;
}